header {
	display: flex;
	align-items: center;
	background-color: black;
	height: 80px;
}

.header__nav {
	height: 60px;
	display: flex;
	align-items: center;
}

.header__logo {
	width: 63px;
	height: 63px;
}

.heder__link:first-child {
	margin: 0 auto;
}

.header__link {
	margin-right: 30px;
	color: white;
	font-size: 19px;
}