.info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 70px;
	margin-bottom: 20px; 
}

.info__duration {
	margin: 0;
	margin-left: 10px;
	font-size: 35px;	
}

.info__genre {
	margin: 0;
	margin-right: 25px; 
	font-size: 25px;
}

.info__cost {
	margin: 0;
	font-size: 23px;
}