body{
	font-family: "Helvetica";
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
}

*{
	box-sizing: border-box; 
}

a {
	text-decoration: none;
}

h3 {
	margin: 0;
}

ul {
	text-decoration: none; 
}

.left {
	display: flex;
	align-items: center;
}

.right {
	display: flex;
	align-items: center;
}

.time {
	height: 30px;
	width: 30px;
}

.desc {
	margin-top: 40px;
}

.desc__left {
	margin: 0;
	width: 600px;
}

.price {
	margin-right: 10px; 
	height: 30px;
	width: 30px;
}

.speakers {
	height: 200px;
	width: 350px;
	border: 5px solid black;
}

.line {
	background-color: black;
	width: 600px;
	height: 3px;
	margin-bottom: 30px; 
}

.name {
	display: flex;
	margin-left: 20px; 
}

.photo {
	border-radius: 50%;
	height: 73px;
	width: 70px;
}

.producer {
	margin-left: 25px;
	margin-bottom: 35px; 
}

.who {
	margin-top: 10px;
	margin-bottom: 5px;  
}

.together {
	margin-left: 10px; 
}

p {
	line-height: 1.6;
}

.manifest {
	width: 520px;
	line-height: 1.6;
	font-size: 18px;
	border: 3px solid #000;
    padding: 13px;
    margin-bottom: 40px;
}

.manifest:before {
	display: block;
	content: "";
	position: absolute; 
	border: 20px solid transparent;
	border-left: 20px solid black;
	border-top: 20px solid black;
	bottom: -105px;

}

.critic {
	font-size: 16px;
	margin-bottom: 0px; 
}

.coment {
	padding-left: 30px; 
	border-left: 5px solid salmon;
}

.coment.-restriction{
	width: 400px;
}

.work {
	font-size: 13px;
	margin-top: 5px;
}

.clue {
	font-size: 30px;
}

.list.-container {
	display: flex;
	width: 750px;
	margin-bottom: 40px;
}

.line.-bottom {
	width: 1124px;
}

.clue {
	margin-bottom: 15px;
}

.clue.-left {
	margin-left: 30px;
}

.gallery {
	height: 310px;
	width: 515px;
	  cursor: pointer;
}

.gallery1:hover {
	transition: 0.3s;
	width: 500px;
	height: 500px;
}

.port {
	margin-left: 30px;
}

.actors {
	width: 350px;
}

.acotr {
	margin-top: 5px;
}
.footer {
	display: flex;
	align-items: center;
	margin-top: 40px;
	background-color: black;
	height: 120px;
}

.white {
	margin-right: 20px;
	font-size: 20px;
	color: white;
}

.gif {

	width: 80px;
	height: 80px;
}
.details {
	margin-top: 30px; 
}

.detail {  
	display: flex;
	margin-top: 3px; 
}

.details__list {
	padding: 0px;
	width: 750px;
}

.detail__key {
	font-weight: bold; 
	margin: 0px;
	margin-right: 30px;
	width: 200px;  
}

.detail__value {
	margin: 0px;
}